<div class="qr-modal-container" id="modalQRContainer" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="qr-code-container">
          <img id="qrImage" src="" alt="QR-код" />
        </div>
        <p id="qrInfoMessage" class="qr-info-message" style="display: none"></p>
        <button id="qrCopyLinkButton" type="button" class="download-button qr-copy-link-button" style="display: none">
          Скопировать одноразовую ссылку
        </button>
      </div>
    </div>
  </div>
</div>
