{% from 'partials/index/_macros.html' import index_client_row %}
<div class="tab-pane" id="amneziawg-tab" data-protocol="amneziawg">
  <div class="table-wrapper">
    <table class="config-table client-grid-table" data-protocol="amneziawg">
      <thead>
        <tr>
          <th class="sortable" data-sort="name">Клиент</th>
        </tr>
      </thead>
      <tbody>
        {% for row in amneziawg_client_rows %}
        {{ index_client_row(row) }}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
